<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="#">
    <i class="fas fa-home fa-1x m-auto text-primary"></i>
    Főoldal
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="#">Hibás szériaszámok</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Visszaáru</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ügyfélproblémák</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Visszaáru</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Folyamatok</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Leltár</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Vásárlás</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Admin</a>
      </li>
    </ul>


    <a class="btn btn-primary form-inline my-2 my-lg-0" href="#">Regisztráció</a>

  </div>
</nav>
