<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/home-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Főoldal
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="#">Hibás szériaszámok</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Visszaáru</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Ügyfélproblémák</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Visszaáru</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Folyamatok</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Leltár</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Vásárlás</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Admin</a>
      </li>
    </ul>


      <a class="btn btn-primary form-inline my-2 my-lg-0" href="#">Regisztráció</a>

  </div>
</nav>


<header class="masthead text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Jelenleg megszámlálhatatlan problémás tétel van  rendszerben ! Bejelentkezés után ezeket tudod kezelni !</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0 m-2">
              <input type="email" class="form-control form-control-lg" placeholder="Enter your username...">
            </div>
            <div class="col-12 col-md-9 mb-2 mb-md-0 m-2">
              <input type="email" class="form-control form-control-lg" placeholder="Enter your password...">
            </div>
            <div class="col-12 col-md-3 m-2">
              <button type="submit" class="btn btn-block btn-lg btn-primary">Bejelentkezés</button>

            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</header>


