<app-jumbotron [loginForm]="isLoggedIn"></app-jumbotron>

<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-user-friends m-auto text-primary"></i>

          </div>
          <h3>Felhasználókezelés</h3>
          <p class="lead mb-0">A rendszert több felhasználó is tudja kezelni, különböző jogosultságokkal</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-hands-helping m-auto text-primary"></i>
          </div>
          <h3>Ügyfél problémák kezelése</h3>
          <p class="lead mb-0">Adott ügyfélhez rögzíthetőek és nyomonkövethetőek a problémák</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">

            <i class="fas fa-cloud m-auto text-primary"></i>
          </div>
          <h3>Adatok a felhőben</h3>
          <p class="lead mb-0">A biztonságos adattárolást felhőszolgáltatás biztosítja</p>
        </div>
      </div>
    </div>
  </div>
</section>
